@model List<EmployeeManagement.Models.Employee>

<div class="text-center">
    <h1 class="display-4">Employee List</h1>
</div>

<a class="btn btn-primary" asp-controller="Home" asp-action="AddEmployee">Add Employee</a>
<br />

<table class="table table-striped mt-4">
    <thead>
        <tr>
            <th>ID</th>
            <th>Employee Name</th>
            <th>Experience</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.EmployeeName</td>
                <td>@employee.Experience</td>
                <td>
                    <a class="btn btn-secondary" asp-action="AddEmployee" asp-route-id="@employee.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="DeleteEmployee" asp-route-id="@employee.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
